body{
	background-color: white;
}
.img{
	width: 100%;
	height: 300px;
}
#menu{
	width: 100%
	height: 50px;
	background-color: #8868ab;
	color: white;
	font-family: fantasy;
	font-size: 30px;
	clear: both;
	text-align: left;
}
.imgprin{
	height: 300px;
	width: 100%
}
#contenido{
	width: 100%;
	background-color: #002233;
	color: white;
}
#encabezado{
	width: 100%;
	height: 100px;
}
.logo{
    width: 20%;
    height: 100px; 
    background-color: #b299d4; float: left; 
}
.titulo{
    width: 80%;
    height: 100px; 
    background-color: #b299d4; float: left;
    color: white;
	font-size: 60px;
	text-align: center;
	font-family: fantasy;
}
#pie{
	width: 100%;
	height: 75px;
	background-color: #d9b3ff;
	color: white;
	clear: both;
	font-size: 20px;
    font-family: Arial;
}
.medio{
	width: 100%;
	height: 500px;
	background-color: #9957de;
	color: white;
	clear: both;
	font-size: 28px;
	font-family: fantasy;
}
.inferior{
	width: 33.33%;
	height: 300px;
	background-color: #B0E0E6;
	color: black;
	float: left;
}
.img3{
	width: 100%;
	height: 300px;
}
.img4{
	width: 100%;
	height: 300px;
}
.img5{
	width: 100%;
	height: 300px;
}